<%= form_with model: @course, url: chefs_courses_path,  local: true do |f|%>
  <div class="field">
    <%= f.label :course_title, "コースのタイトル" %><br />
    <%= f.text_field :course_title, id:"course_title" %>
  </div>

  <div class="field">
    <%= f.label :description, "コース説明" %><br />
    <%= f.text_area :description, class: :form__text, id:"course_destription" %>
  </div>

  <div class="field">
    <%= f.label :price, "コンセプト" %><br />
    <%= f.text_area :price, class: :form__text, id:"course_price" %>
  </div>

  <div class="field">
    <%= f.label '#', "コースの画像" %><br />
     <%= f.file_field '#', name: '#', id:"course-images" %>
  </div>
   <%# start_dateを登録 %>
  <div class="field">日程<br />
    <%= f.label :start_datetime %>
    <%= f.datetime_select :start_datetime %>
  </div>

  <%# #end_dateを登録 %>
  <div class="field"><br />
    <%= f.label :end_datetime %>
    <%= f.datetime_select :end_datetime %>
  </div>

  <div class="actions">
    <%= f.submit "保存する", class: :form__btn  %>
  </div>
<% end %>